.App{
    background-color: rgba(249, 250, 248, 0.921);
    padding: 1rem;
    border-radius: 5px;
}
.App p{
    margin-top: 2rem;
}
.App label.radio+.radio {
    margin-left: 5rem;
    border: 1px solid;
}
.App label.radio input {
    margin-right: 10px;
}