body {
  margin: 0;
  background-color: plum;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.inexp{
  border: 1px solid;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  align-items: center;
 justify-content: center;
}
.income{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  border-right: 1px solid;
  padding-right: 4rem;
  margin-right:5rem ;
}
.expense{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
}
.history p{
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: -0.1rem;
}
.history ul{
  list-style-type: none;
}
.history li{
  border: 1px solid;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  text-decoration: none;
  margin-left: -2.5rem;
  display: flex;
}
.form2 {
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}
.form2 label{
  font-weight: bolder;
}
.forum{
  width: 95%;
  padding: 0.3rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.form2 button{
  background-color: rgb(139, 71, 139);
  color: rgb(194, 154, 194);
  border-radius: 5px;
  border: none;
  width: 80%;
  padding: 0.3rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  cursor: pointer;
}
.radi{
  text-align: left;
  margin-bottom: 5px;
  font-size: 20px;
  cursor: pointer;
}
.delete{
  margin-left: auto;
  cursor: pointer;
  border: 1px solid;
}
.amount{
  margin-left: 3rem;
}
